.contentLayout {
  width: 100%;
  display: flex;
  flex-direction: row;

  column-gap: 2rem;
}
.contentLayoutTablet {
  width: 100%;
  display: flex;
  flex-direction: column;

  row-gap: 36px;
}

.rightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.toolFunctionsLayout {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  column-gap: 48px;
  row-gap: 20px;
}

.clientsLayout {
  display: grid;
  margin-inline: 2.2vw;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  column-gap: 48px;
  row-gap: 48px;
}

.clientsLayoutMobile {
  display: grid;
  margin-inline: 3vw;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  column-gap: 48px;
  row-gap: 48px;
}

.client {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.clientMobile {
  width: 110px;
  height: 50px;
  object-fit: contain;
}

.emptyViewLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin-block: 20px;

  color: #8d8d8d;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.plansLayout {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(168px, max-content));
  column-gap: 48px;
  row-gap: 48px;
}

.ratingsLayout {
  display: flex;
  flex-direction: row;

  justify-content: center;
  row-gap: 3vw;
}

.ratingLine {
  border: 1px dashed #cdcdcd;
}

.spinnerLayout {
  width: 100%;
  display: flex;
  justify-content: center;
}
