.layout {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.detailLayout {
  background-color: #fbfbfb;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding-block: 15rem;
}

.mainLayout {
  display: flex;
  flex-direction: column;

  row-gap: 4rem;
}

.contentLayout {
  display: flex;
  flex-direction: row;

  column-gap: 2rem;
}
