@import url('styles/fonts.css');
@import 'react-toastify/dist/ReactToastify.css';
@import 'react-datepicker/dist/react-datepicker.css';

html,
body {
  min-height: screen;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  background: linear-gradient(180deg, rgba(96, 169, 246, 0.9) -32.17%, rgba(171, 224, 199, 0.9) 116.11%);
  margin: 2px;

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #FCFCFC;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

button {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

:root {
  --primary-color-main: #60a9f6;
  --primary-color-main-30: #60a9f630;
  --primary-color-dark: #5581df;
  --primary-color-ddark: #495cc8;
  --primary-color-dddark: #413fb1;
  --primary-color-error: #f59892;

  --gray-scale-color-g05: #f5f5f5;
  --gray-scale-color-g10: #cdcdcd;
  --gray-scale-color-g15: #bdbdbd;
  --gray-scale-color-g20: #a8a8a8;
  --gray-scale-color-g25: #8d8d8d;
  --gray-scale-color-g30: #6f6f6f;
  --gray-scale-color-g35: #595959;
  --gray-scale-color-g40: #414141;
  --gray-scale-color-g45: #363636;
  --gray-scale-color-g50: #292929;

  --height-navigation: 70px;
  --height-footer: 400px;

  --width-lg: 1280px;

  --text-multiplier: 1;
}

h1 {
  font-size: calc(2.6rem * var(--text-multiplier));
  font-weight: 700;
}

h2 {
  font-size: calc(1.6rem * var(--text-multiplier));
  line-height: calc(2.6rem * var(--text-multiplier));
  font-weight: 700;
}

h3 {
  font-size: calc(1.3rem * var(--text-multiplier));
  line-height: calc(2rem * var(--text-multiplier));
  font-weight: 600;
}

h4 {
  font-size: calc(1.2rem * var(--text-multiplier));
  line-height: calc(1.8rem * var(--text-multiplier));
  font-weight: 600;
}

@media (min-width: 48rem) {
  :root {
    --text-multiplier: 1.5;
  }
}

section {
  min-height: calc(100vh - var(--height-navigation));
}

/*  */
.react-datepicker__triangle {
  display: none;
}
