.layout {
  width: 100%;
  display: grid;
  justify-content: center;

  row-gap: 4rem;
}

.selfLayout {
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  column-gap: 50px;
}

.withLayout {
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  column-gap: 74px;
}
