.contentLayout {
  width: 100%;
  display: flex;
  flex-direction: row;

  column-gap: 2rem;
}
.contentLayoutTablet {
  width: 100%;
  display: flex;
  flex-direction: column;

  row-gap: 36px;
}

.rightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.content {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #6f6f6f;
}

.branchLayout {
  display: grid;
  margin-inline: 2.2vw;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  column-gap: 48px;
  row-gap: 48px;
}

.branchLayoutMobile {
  display: grid;
  margin-inline: 2.2vw;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  column-gap: 48px;
  row-gap: 48px;
}

.branch {
  width: 120px;
  height: 80px;
  object-fit: contain;
}

.culturesLayout {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  column-gap: 48px;
  row-gap: 20px;
}

.emptyViewLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  margin-block: 20px;

  color: #8d8d8d;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.toolsLayout {
  display: grid;
  margin-inline: 2.2vw;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(52px, max-content));
  column-gap: 72px;
  row-gap: 20px;
}

.toolsLayoutMobile {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
  column-gap: 50px;
  row-gap: 20px;
}

.toolContainer {
  display: flex;
  width: 76px;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  cursor: pointer;
}

.toolImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.toolImageMobile {
  width: 54px;
  height: 54px;
  object-fit: contain;
}

.toolName {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  word-break: keep-all;
  color: #6f6f6f;
}

.toast {
  transition: 0.3s;
  position: absolute;
  top: 13vh;
  left: 50vw;
  padding-inline: 20px;
  padding-block: 10px;
  min-width: 100px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #60a9f6;
  color: #fff;
  font-size: 12px;
  border-radius: 14px 14px 14px 0px;
}

.spinnerLayout {
  width: 100%;
  display: flex;
  justify-content: center;
}
