.rightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.content {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #6f6f6f;
}

.branchLayout {
  display: grid;
  margin-left: 40px;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  column-gap: 52px;
  row-gap: 48px;
}

.branch {
  width: 120px;
  height: 80px;
  object-fit: contain;
}

.culturesLayout {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(310px, max-content));
  column-gap: 48px;
  row-gap: 20px;
}

.toolsLayout {
  display: grid;
  margin-inline: 60px;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(60px, max-content));
  column-gap: 80px;
  row-gap: 20px;
}

.toolContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.toolImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.toolName {
  font-weight: 400;
  font-size: 12px;
  color: #6f6f6f;
}

.toast {
  transition: 0.3s;
  position: absolute;
  top: 38%;
  left: 38%;
  padding-inline: 20px;
  padding-block: 10px;
  min-width: 100px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #60a9f6;
  color: #fff;
  font-size: 12px;
  border-radius: 14px 14px 14px 0px;
}
