.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}

.title {
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: 700;
  color: black;
}

.description {
  font-weight: 500;
  font-size: 0.8rem;
  color: #6f6f6f;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
