.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}

.titleLayoutMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: 700;
  color: black;
}

.titleMobile {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: black;
}
.description {
  font-weight: 500;
  font-size: 0.8rem;
  color: #6f6f6f;
}

.descriptionMobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6f6f6f;
  margin-bottom: 40px;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.contentContainerMobile {
  width: 100%;
}
