.cardLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;

  width: 240px;
  height: 400px;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-inline: 30px;
}

.withCardLayout {
  row-gap: 60px;
}

.bookmark {
  font-size: 26px;
  position: absolute;
  color: #cdcdcd;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  right: 26px;
  top: -6px;
}

.bookmarkScraped {
  color: #60a9f6;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.image {
  width: 88px;
  height: 100px;
  object-fit: contain;
}

.infoSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

.name {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6f6f6f;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  text-align: center;
}

.smallButtons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
