.cardLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 198px;
  height: 300px;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-inline: 30px;
  padding-block: 28px;
}

.cardLayoutWide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 300px;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding-block: 28px;
}

.cardLayoutMobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 215px;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding-block: 28px;
}

.withCardLayout {
  height: 240px;
}

.toast {
  transition: 0.3s;
  position: absolute;
  right: -180px;
  top: -28px;

  padding-inline: 20px;
  padding-block: 10px;
  min-width: 100px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #60a9f6;
  color: #fff;
  font-size: 12px;
  border-radius: 14px 14px 14px 0px;
}

.toastMobile {
  transition: 0.3s;
  position: absolute;
  right: -72px;
  top: -28px;

  padding-inline: 20px;
  padding-block: 10px;
  min-width: 100px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: #60a9f6;
  color: #fff;
  font-size: 12px;
  border-radius: 14px 14px 14px 0px;
}

.toast_cancel {
  background-color: #8d8d8d;
}

.bookmark {
  font-size: 20px;
  position: absolute;
  color: #cdcdcd;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  right: 20px;
  top: -6px;
}

.bookmarkMobile {
  font-size: 18px;
  position: absolute;
  color: #cdcdcd;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
  right: 20px;
  top: -6px;
}

.bookmarkScraped {
  color: #60a9f6;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}

.image {
  margin-top: 8px;
  width: 80px;
  height: 72px;
  object-fit: contain;
}

.imageMobile {
  margin-top: 4px;
  width: 54px;
  height: 54px;
  object-fit: contain;
}

.infoSection {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: center;
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.info {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  word-break: keep-all;
  color: #6f6f6f;
}

.infoMobile {
  font-weight: 400;
  font-size: 12px;
  margin-inline: 20px;
  line-height: 18px;
  word-break: keep-all;
  color: #6f6f6f;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: center;
  text-align: center;
}

.smallButtons {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
