.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

.rightSection {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.button {
  padding-block: 8px;
  padding-inline: 16px;
  background: #f5f5f5;
  border-radius: 10px;
}

.button:hover {
  background: rgba(96, 169, 246, 0.1);
}

.buttonSelected {
  padding-block: 10px;
  padding-inline: 20px;
  background: rgba(96, 169, 246, 0.12);
  border-radius: 10px;
}

.buttonSelected:hover {
  background: rgba(96, 169, 246, 0.2);
}

.iconImage {
  height: 18px;
  width: 24px;
}
