.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}

.title {
  font-weight: 600;
  font-size: 34px;
  color: black;
}

.description {
  font-weight: 400;
  font-size: 20px;
  color: #6f6f6f;
}

.line {
  width: 100%;
  margin-block: 16px;
  border: 0.5px solid #bdbdbd;
}
