.container {
  height: calc(100vh - var(--height-navigation));
  overflow-y: auto;
}
.modalContainer {
  height: calc(100vh - var(--height-navigation));
  width: 80vw;
  overflow-y: auto;
}

.container::-webkit-scrollbar,
.modalContainer::-webkit-scrollbar {
  height: 90%;
  width: 12px;
}
.container::-webkit-scrollbar-thumb,
.modalContainer::-webkit-scrollbar-thumb {
  /* height: 50px; */
  background: var(--primary-color-main);
  border-radius: 10px;
}

.container::-webkit-scrollbar-track,
.modalContainer::-webkit-scrollbar-track {
  background: transparent;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1rem;
}
.label {
  font-size: x-large;
  margin: 0.2rem;
}
.section {
  width: 96%;
  max-width: var(--width-lg);
  border: 2px solid var(--primary-color-main);
  background-color: var(--gray-scale-color-g05);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2% 2%;
  margin-bottom: 1rem;
  position: relative;
}
.sectionBtnGroup {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary-color-main);
}

.sectionPlus:hover,
.sectionMinus:hover {
  cursor: pointer;
}

.tabBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnGroup {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.halfSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 1rem;
}
.halfSection > * {
  width: 50%;
}

/* 주요 고객사 */
.mainClient {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0.6rem;
}

.mainClient > img,
.mainClient > span {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: var(--gray-scale-color-g10);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.mainClient h5,
.mainClient a {
  margin: 0.4rem;
  font-size: 1.2rem;
}
.mainClient a {
  color: var(--primary-color-main);
  font-size: 1.2rem;
  text-decoration: underline;
}

.infoSection {
  position: relative;
}

.infoSetcionBtnGroup {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  color: var(--gray-scale-color-g30);
}

.input,
.select {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--gray-scale-color-g30);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 900;
}
.selectBox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;
}
.select:hover {
  cursor: pointer;
}
.option {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--gray-scale-color-g30);
}
/* 보이기만 하는 화살표.. 참.. */
.arrowDown {
  position: absolute;
  font-size: 1rem;
  color: black;
  rotate: 180deg;
  right: 0.4rem;
  margin-bottom: 1rem;
  z-index: 0;
}
