.container {
  height: calc(100vh - var(--height-navigation));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > * {
  width: 98vw;
  max-width: 1120px;
}
.title {
  margin-bottom: 12px;
}
.title * {
  margin: 0;
}
.section {
  background-color: var(--gray-scale-color-g05);
  border-radius: 1.2rem;
  padding: 1.2rem;
  box-shadow: 5px 5px 5px var(--gray-scale-color-g10);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section * {
  margin: 0;
}
.section > h5 {
  color: var(--primary-color-main);
  font-size: 1.2rem;
  margin: 12px 0;
}

.selectTool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}
.selectTool > p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.tableWrap {
  height: 43vh;
  overflow-y: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.table td {
  height: 80px;
  flex-grow: 0;
}

.tbody {
  height: 40vh;
  text-align: center;
}

.one {
  width: 5%;
  border-top: 1px solid #000;
}
.two {
  width: 10%;
  border: 1px solid #000;
}
.thr {
  width: 30%;
  border: 1px solid #000;
}
.fur {
  width: 30%;
  border: 1px solid #000;
}
.tbody td:nth-child(4) {
  text-align: start;
}
.fiv {
  width: 10%;
  border-top: 1px solid #000;
}
