.container {
  height: calc(100vh - var(--height-navigation));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  height: 90%;
  width: 98vw;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dataButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: var(--height-navigation);
}

.dataButton {
  width: 15vw;
  aspect-ratio: 4/3;
  min-width: 200px;
  background-color: white;
  border-radius: 1rem;
  color: var(--gray-scale-color-g20);
  font-size: 2rem;
  filter: drop-shadow(0 0 10px var(--gray-scale-color-g20));
  transition: all 0.5s;
}

.dataButton:hover {
  color: var(--primary-color-main);
  filter: drop-shadow(0 8px 20px var(--gray-scale-color-g20));
  z-index: 2;
  transform: scale(1.04) translateY(-10px);
}

/* request */
.dataTabs {
  width: 20vw;
  min-width: 600px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 3rem;
  padding: 0.5rem;
  filter: drop-shadow(0 0 10px var(--primary-color-main));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dataTabs input[type='radio'] {
  display: none;
}

.tabWrap {
  z-index: 2;
}

.dataTab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  aspect-ratio: 3/1;
  cursor: pointer;
  border-radius: 1rem;
  transition: color 0.2s ease-in;
  font-size: 1.2rem;
}

.dataTabs input:checked~.dataTab {
  color: var(--primary-color-main);
}

.glider {
  position: absolute;
  height: 80%;
  width: 30%;
  background-color: var(--primary-color-main-30);
  border-radius: 3rem;
  transition: 0.2s ease-out;
  z-index: 1;
}
.glider.pos1{
  transform: translateX(-105%);
}
.glider.pos2{
  transform: translateX(0);
}
.glider.pos3{
  transform: translateX(100%);
}

.downUp{  
  stroke-width: 0.04rem;
  font-size: 1rem;
  margin-left: 0.4rem;
  background-color: white;
  padding: 0.2rem;
  border-radius: 1rem;
  transition: 0.1s ease-out;
}
.downUp.asc {
  transform: rotate(0);
}
.downUp.desc {
  transform: rotate(180deg);
}
.requestList{
  margin-top: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:1rem;
}
.requestItem{
  aspect-ratio: 5/3;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  filter: drop-shadow(0 0 4px var(--gray-scale-color-g20));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.requestItem:hover{
  filter: drop-shadow(0 0 10px var(--primary-color-main));
}