.commonStyle {
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.tag {
  width: fit-content;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 1rem;
}

.sm {
  width: 4rem;
  height: 3rem;
  font-size: 1rem;
}
.md {
  width: 8rem;
  height: 4rem;
  font-size: 1.2rem;
}
.lg {
  width: 15rem;
  height: 9rem;
  font-size: 1.6rem;
}
.lgTab {
  width: fit-content;
  height: fit-content;
  padding: 1rem 3rem;
  font-size: 1.2rem;
}
.primary {
  background-color: var(--primary-color-main);
  color: white;
}
.primaryVariant {
  background-color: var(--primary-color-main-30);
  color: var(--primary-color-main);
}

.secondary {
  background-color: var(--gray-scale-color-g30);
  color: white;
}
.white {
  background-color: white;
  color: var(--gray-scale-color-g30);
}

.next {
  background-color: white;
  color: var(--primary-color-main);
}

.white:hover,
.next:hover {
  background-color: var(--primary-color-main);
  color: white;
}
