.button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem !important;
  aspect-ratio: 1/1;
  z-index: 999;
  background-color: var(--primary-color-main);
  color: white;
  padding: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px var(--gray-scale-color-g30);
  font-size: 12px;
}

.button>p {
  margin: 0;
}

.none {
  display: none;
}

/* upload */
.title {
  padding: 0.4rem 0;
  border-bottom: 2px solid var(--gray-scale-color-g10);
}

.wrap {
  width: 70vmin;
}

.dragOver {
  border: 5px dashed var(--primary-color-main);
  z-index: 5;
}

.section {
  min-height: 30vmin;
  max-height: 60vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0.2rem 0;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.uploadButton {
  background-color: var(--primary-color-main);
  color: white;
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 4px 12px var(--gray-scale-color-g30);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}