.container {
  position: absolute;
  top: 90%;
  width: 100%;
  background-color: white;
  border: 2px solid var(--primary-color-main);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}
.item {
}
.item:hover {
  cursor: pointer;
}
