.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}

.title {
  font-size: calc(1.2rem * var(--text-multiplier));
  line-height: calc(1.8rem * var(--text-multiplier));
  font-weight: 600;
  color: black;
}

.description {
  font-weight: 400;
  font-size: 1rem;
  color: #6f6f6f;
}

.line {
  width: 100%;
  margin-block: 16px;
  border: 0.5px solid #bdbdbd;
}
