.layout {
  width: 100%;
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  column-gap: 32px;
  row-gap: 2.4rem;
}

.moreGroup {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreButton {
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  color: #6f6f6f;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreButton:hover {
  background-color: #fcfcfc;
}

.icon {
  height: 0.8rem;
}
