.container {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin-top: 1rem;
  font-family: "Noto Sans KR";
  font-size: 2.6rem;
  font-weight: bolder;
  font-stretch: ultra-condensed;
}
.inputBox {
  position: relative;
  width: 320px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-scale-color-g20);
  border-radius: 8px;
  font-size: x-large;
  padding: 4px 8px;
}

.input:focus {
  background-color: #60a9f632;
  border: 1px solid transparent;
}
.loginBtn {
  color: var(--gray-scale-color-g30);
  position: absolute;
  font-size: 1.5rem;
  right: 8px;
}
.loginBtn:hover {
  cursor: pointer;
  color: var(--gray-scale-color-g40);
}

.wrongMsg {
  position: absolute;
  color: var(--primary-color-error);
  bottom: -3rem;
}
