/* rating component */

.ratingLayout {
  display: flex;
  flex-direction: row;
  column-gap: 20px;

  align-items: center;
  justify-content: center;

  width: 360px;
  height: 100px;
}

.noRatingImage {
  width: 70px;
  height: 70px;
  object-fit: contain;
  filter: grayscale(100%);
}

.ratingImage {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.noRatingScore {
  font-weight: 400;
  font-size: 16px;

  color: #a8a8a8;
}

.ratingScore {
  font-weight: 600;
  font-size: 26px;

  color: #a8a8a8;
}

.ratingScoreContainer {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.starBox {
  z-index: 100px;
  overflow: hidden;
}

.fullStar {
  width: 88px;
  height: 20px;
}

.emptyStar {
  z-index: -100px;
  position: absolute;
  width: 88px;
  height: 20px;
  object-fit: contain;
}

/* plan component */
.planLayout {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
  width: 240px;
  height: fit-content;
}

.planFirstSection {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  color: #000000;
}

.imogi {
  font-size: 24px;
}

.planTitle {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.planVolume {
  font-weight: 400;
  font-size: 14px;
}

.planSecondSection {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: black;
}

.planCost {
  font-weight: 400;
  font-size: 28px;
}

.planThirdSection {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  align-items: center;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: black;
}
