.container {
  background: #f5f5f5;
  border-radius: 10px;
  height: fit-content;

  padding-block: 10px;
  padding-inline: 20px;

  font-weight: 400;
  font-size: 20px;
  color: #595959;
}

.selectedContainer {
  background: rgba(96, 169, 246, 0.12);
  border-radius: 10px;
  height: fit-content;

  padding-block: 10px;
  padding-inline: 20px;

  font-weight: 600;
  font-size: 20px;
  color: #60a9f6;
}
