.container {
  width: fit-content;
  position: relative;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

.button {
  position: absolute;
  height: 22px;
  right: 6px;
  z-index: 10px;
  font-size: 18px;
  color: #8d8d8d;
}

.button:hover {
  color: #414141;
}
