.bold {
  font-weight: 900;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6f6f6f;
}

.description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
  color: #333333;
}

.description_mobile {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: #333333;
}

.title_container {
  display: flex;
  align-items: center;
}

.title_bar {
  width: 7.2px;
  height: 6.8rem;
  background-color: black;
}

.title_bar_mobile {
  width: 4.2px;
  height: 3.6rem;
  background-color: black;
}

@media (max-width: 767px) {
  .subtitle {
    font-size: 0.8rem;
  }
}
